@TextColor: white;
@BodyBackgroundColor: #777;
@DarkElementBackgroundColor: #000000;

@EntryBackgroundColor: #333;
@EntryTextColor: #DDD;
@EntryBorderColor: #111;

@DeleteConfirmBackgroundColor: #FF0000;

@PageBackgroundColor: #777;
@HeaderBackgroundColor: #777;
@DateHighlightColor: #393;
@DateTextColor: #bbb;

@LogoBackgroundColor: #000000;
@LogoMainTextColor: #FFFFFF;
@LogoSecondaryTextColor: #FFFFFF;

@TabMenuHighlightColor: #393;
@TabMenuTextColor: @TextColor;

@UpdateButtonBackgroundColor: #555;
@UpdateButtonTextColor: #000;

@DecoratorDefaultTextColor: @TextColor;
@DecoratorDefaultBackgroundColor: #008800;
@DecoratorDeleteBackgroundColor: Red;

@RevealContentBackgroundColor: #EEE;
@RevealContentColor: black;
@RevealFooterBackgroundColor: @RevealContentBackgroundColor;
@RevealFooterColor: @RevealContentColor;
@RevealHeaderBackgroundColor: #393;
@RevealHeaderColor: white;

@HDHRLink_Visited: cyan;
@HDHRLink: yellow;
