* {
  margin: 0;
  padding: 0;
}
html {
  background: ;
}
body {
  font-family: Arial, sans-serif;
}
a:hover {
  cursor: pointer;
}
br.clearfix {
  clear: both;
}
input {
  font-size: 32px;
}
#page {
  position: relative;
  padding: 0;
  width: 100%;
  border: none;
  display: hidden;
  background-color: #FFFFFF;
  margin-top: 130px;
}
.upcoming_datebreak {
  background: ;
  background-image: url("upcoming.png");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: left center;
  height: 40px;
  width: 200px;
  position: relative;
  color: #FFFFFF;
  font-size: 30px;
  padding: 5px 5px 5px 60px;
  margin-top: 25px;
  cursor: pointer;
}
.entry {
<<<<<<< HEAD
  border-top: solid 2px ;
  background: ;
  height: 525px;
=======
  border-top: solid 2px #393;
  background: #DDDDDD;
  height: 560px;
>>>>>>> 0e90ad1da1d6abadd260bef20b3a83fed278c41f
  position: relative;
  font-size: 2em;
}
.entry-p {
  font-style: italic;
  color: ;
}
.entry-h4 {
  color: ;
  font-size: 1.25em;
  width: 700px;
  padding: 1px;
}
.series_img {
  float: left;
  max-height: 132px;
  max-width: 176px;
}
.series_img_lrg {
  float: left;
  height: 194px;
  max-width: 264px;
}
#loading {
  z-index: 101;
  font-size: 2em;
}
#header {
  background: #FFFFFF;
  display: block;
  position: fixed;
  top: 0;
  margin: auto;
  border-top: solid 3px #393;
  width: 100%;
  z-index: 100;
}
#logo {
  height: 60px;
  width: 100%;
  position: absolute;
  left: 20px;
}
#logo a {
  text-decoration: none;
  color: ;
}
#logo h1 {
  top: 5px;
  font-size: 26px;
  color: #000000;
  text-shadow: 0 4px 4px #000000;
  bottom: 5px;
}
.tabcontent {
  display: none;
}
#listheader {
  font-size: 2.5em;
  padding: 10px;
}
ul.tabmenu {
  list-style-type: none;
  margin: 0px;
  margin-top: 60px;
  padding: 0;
  overflow: hidden;
  border: none;
  background-color: #000000;
}
ul.tabmenu li {
  float: left;
  background-color: #000000;
  padding: 0px;
  margin: 0px;
}
ul.tabmenu li a {
  display: inline-block;
  color: #FFFFFF;
  text-align: center;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  transition: 0.1s;
  font-size: 32px;
}
ul.tabmenu li a:hover {
  background-color: ;
}
ul.tabmenu li a:focus,
a.active {
  border-bottom: solid 12px #393;
  background-color: #000000;
}
li.settings_page {
  position: absolute;
  right: 0;
}
a.settings_page {
  text-color: #000000;
  background-image: url("gear.png");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center center;
}
#start_page {
  position: relative;
  padding: 0;
  width: 100%;
  border: none;
  display: hidden;
  background-color: #FFFFFF;
  margin-top: 130px;
}
#start_content {
  width: 100%;
}
#settings_page {
  position: relative;
  padding: 0;
  width: 100%;
  border: none;
  display: hidden;
  background-color: #FFFFFF;
  margin-top: 130px;
}
#settings_content {
  width: 100%;
}
#settings_box {
  width: 100%;
}
#hdhr_img {
  display: block;
  margin: 0 auto;
  width: 325px;
}
#hdhr_img_cnt {
  vertical-align: middle;
  display: table-cell;
}
#hdhr_img_flt {
  float: left;
  background-color: #FFFFFF;
  width: 180px;
  height: 130px;
  margin: 0 10px 0 0;
  display: table;
}
#hdhr_entry {
  border-top: solid 1px ;
  background: ;
  height: 350px;
  font-size: 2em;
}
.hdhr_entry h4 {
  color: ;
  font-size: 2em;
}
.hdhr_entry p {
  font-style: italic;
  color: ;
  font-size: 1.5em;
}
#rules_page {
  position: relative;
  padding: 0;
  width: 100%;
  border: none;
  display: hidden;
  background-color: #FFFFFF;
  margin-top: 130px;
}
#rules_content {
  width: 100%;
}
#rules_box {
  width: 100%;
}
#rules_info {
  width: 100%;
}
#rules_list_box {
  width: 100%;
}
.rule_entry {
<<<<<<< HEAD
  border-top: solid 2px ;
  background: ;
  height: 525px;
=======
  border-top: solid 2px #393;
  background: #DDDDDD;
  height: 560px;
>>>>>>> 0e90ad1da1d6abadd260bef20b3a83fed278c41f
  position: relative;
  font-size: 2em;
}
.rule_entry h4 {
  color: ;
  font-size: 1.25em;
  width: 700px;
  padding: 1px;
  padding-top: 70px;
}
.rule_entry p {
  font-style: italic;
  color: ;
}
#series_page {
  position: relative;
  padding: 0;
  width: 100%;
  border: none;
  display: hidden;
  background-color: #FFFFFF;
  margin-top: 130px;
}
#series_content {
  width: 100%;
}
#series_box {
  width: 100%;
}
#series_info {
  width: 100%;
}
#series_list_box {
  width: 100%;
}
.series_entry {
  width: 300px;
  height: 225px;
  border: solid 2px ;
  background: ;
  margin: 5px;
  display: inline-block;
  font-size: 0.75em;
}
#recordings_page {
  position: relative;
  padding: 0;
  width: 100%;
  border: none;
  display: hidden;
  background-color: #FFFFFF;
  margin-top: 130px;
}
#recordings_content {
  width: 100%;
}
#recordings_box {
  width: 100%;
}
#recordings_info {
  width: 100%;
}
#recordings_list_box {
  width: 100%;
}
.recording_entry {
<<<<<<< HEAD
  border-top: solid 2px ;
  background: ;
  height: 525px;
=======
  border-top: solid 2px #393;
  background: #DDDDDD;
  height: 560px;
>>>>>>> 0e90ad1da1d6abadd260bef20b3a83fed278c41f
  position: relative;
  font-size: 2em;
}
.recording_entry h4 {
  color: ;
  font-size: 1.25em;
  width: 700px;
  padding: 1px;
}
.recording_entry p {
  font-style: italic;
  color: ;
}
ul.sortby {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  border: none;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 1px 1px 1px 1px;
  font-size: 0.70em;
  align: right;
}
ul.sortby li {
  float: left;
  margin: 0px 5px;
}
ul.sortby li a {
  display: inline-block;
  color: ;
  text-align: center;
  text-decoration: none;
  transition: 0.1s;
  border: none;
  border-radius: 2px 2px 2px 2px;
  background-color: ;
  padding: 2px 2px;
  font-style: normal;
  font-weight: normal;
}
#upcoming_page {
  position: relative;
  padding: 0;
  width: 100%;
  border: none;
  display: hidden;
  background-color: #FFFFFF;
  margin-top: 130px;
}
#upcoming_content {
  width: 100%;
}
#upcoming_box {
  width: 100%;
}
#upcoming_info {
  width: 100%;
}
#upcoming_list_box {
  width: 100%;
}
.upcoming_entry {
<<<<<<< HEAD
  border-top: solid 2px ;
  background: ;
  height: 525px;
=======
  border-top: solid 2px #393;
  background: #DDDDDD;
  height: 560px;
>>>>>>> 0e90ad1da1d6abadd260bef20b3a83fed278c41f
  position: relative;
  font-size: 2em;
}
.upcoming_entry h4 {
  color: ;
  font-size: 1.25em;
  width: 700px;
  padding: 1px;
}
.upcoming_entry p {
  font-style: italic;
  color: ;
}
#search_page {
  position: relative;
  padding: 0;
  width: 100%;
  border: none;
  display: hidden;
  background-color: #FFFFFF;
  margin-top: 130px;
}
#search_content {
  width: 100%;
}
#search_prompt {
  padding: 10px 10px 10px 10px;
}
#search_box {
  width: 100%;
}
#search_info {
  width: 100%;
}
#search_list_box {
  width: 100%;
}
.search_entry {
<<<<<<< HEAD
  border-top: solid 2px ;
  background: ;
  height: 525px;
=======
  border-top: solid 2px #393;
  background: #DDDDDD;
  height: 560px;
>>>>>>> 0e90ad1da1d6abadd260bef20b3a83fed278c41f
  position: relative;
  font-size: 2em;
  font-size: 1.5em;
  overflow-y: auto;
}
.search_entry h4 {
  color: ;
  font-size: 1.25em;
  width: 700px;
  padding: 1px;
  font-size: 2em;
  padding-top: 70px;
}
.search_entry p {
  font-style: italic;
  color: ;
  font-size: 14px;
}
#searchheader {
  padding: 20px;
  font-size: 2em;
}
#searchString {
  font-size: 1.25em;
}
button {
  font-size: 1.25em;
}
.edit_form ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0px;
  padding: 0px;
}
.edit_form li {
  padding: 0px;
  position: relative;
  font-size: 1.25em;
}
.edit_form label {
  width: 200px;
  display: inline-block;
  text-align: right;
  padding: 5px;
}
.edit_form input {
  padding: 0px;
  font-size: 28px;
}
.actions {
  text-align: right;
  margin: 1px;
  position: absolute;
  top: 2px;
  right: 0px;
}
.inlinerules {
  text-align: right;
  margin-right: 30px;
  margin-bottom: 2px;
}
.play,
.record,
.delete,
.upcoming,
.settings,
.RecCountButton,
.RuleCountButton,
.UpcomingCountButton {
  display: inline-block;
  color: ;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
  background-color: ;
  padding: 1px 1px;
  spacing: 2px;
  font-size: 42px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}
.delete {
  background-color: #FF0000;
}
.upcoming {
  background-color: #0000FF;
}
.settings {
  position: relative;
  font-size: 18px;
  margin: 5px;
  z-index: 99;
  padding: 5px;
}
.RecCountButton {
  position: relative;
  font-size: 14px;
  bottom: -195px;
  margin: 5px;
  z-index: 99;
  padding: 3px;
}
.RuleCountButton {
  background-color: #FF0000;
  float: right;
  position: relative;
  font-size: 14px;
  margin: 5px;
  bottom: -195px;
  z-index: 99;
  padding: 3px;
}
.UpcomingCountButton {
  background-color: #0000FF;
  float: right;
  position: relative;
  font-size: 14px;
  margin: 5px;
  bottom: -195px;
  z-index: 99;
  padding: 3px;
}
#AuthReveal {
  color: white;
  background-color: orange;
}
.revealModal {
  display: none;
  position: fixed;
  z-index: 110;
  background-color: #000000;
  background-color: rgba(0,0,0,0.8);
  padding-top: 15%;
  color: black;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.revealModal-content {
  background-color: ;
  width: 90%;
  min-height: 700px;
  padding: 10px;
  margin: auto;
  font-size: 2em;
}
.revealModal-header {
  width: 90%;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  background-color: ;
  color: ;
  border: 1px solid #888;
  border-radius: 20px 20px 0 0;
}
.revealModal-header h4 {
  color: ;
  font-size: 2em;
}
.revealModal-footer {
  width: 90%;
  padding: 10px;
  margin: auto;
  background-color: ;
  color: ;
  height: 50px;
  border: 1px solid #888;
  border-radius: 0 0 20px 20px;
}
.revealClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.revealClose:hover,
.revealClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
ul.modal_decorator {
  list-style-type: none;
  float: right;
}
ul.modal_decorator li {
  float: left;
  margin: -30px 10px;
}
ul.modal_decorator li p {
  display: inline-block;
  color: ;
  background-color: ;
  text-align: center;
  padding: 2px 5px;
  text-decoration: none;
  transition: 0.1s;
  border: none;
}
ul.modal_decorator li a {
  display: inline-block;
  color: ;
  background-color: ;
  text-align: center;
  padding: 2px 5px;
  text-decoration: none;
  transition: 0.1s;
  border: none;
  font-size: 3em;
}
ul.modal_decorator li.info p,
ul.modal_decorator li.play a,
ul.modal_decorator li.record a {
  background-color: ;
  font-size: 1.5em;
}
.date {
  margin: 1px;
  display: inline-block;
  width: 65px;
  height: 65px;
  background: #fcfcfc;
  background: linear-gradient(top,#fcfcfc 0%,#dad8d8 100%);
  background: -moz-linear-gradient(top,#fcfcfc 0%,#dad8d8 100%);
  background: -webkit-linear-gradient(top,#fcfcfc 0%,#dad8d8 100%);
  border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  cursor: pointer;
}
.date p {
  font-family: Helvetica, sans-serif;
  font-size: 26px;
  text-align: center;
  color: #444444;
}
.date p span {
  background: #393;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  display: block;
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  padding: 2px 0 2px 0;
}
