* {
  margin: 0;
  padding: 0;
}
html {
  background: #777;
}
body {
  font-family: Arial, sans-serif;
}
a:hover {
  cursor: pointer;
}
br.clearfix {
  clear: both;
}
#page {
  position: relative;
  padding: 0;
  width: 100%;
  border: none;
  display: hidden;
  background-color: #FFFFFF;
  margin-top: 95px;
}
.entry {
  border-top: solid 2px #393;
  background: #DDDDDD;
  height: 132px;
  position: relative;
}
.entry-p {
  font-style: italic;
  color: #000000;
  font-size: 0.75em;
}
.entry-h4 {
  color: #000000;
  font-size: 1em;
}
.series_img {
  float: left;
  height: 132px;
  width: 176px;
}
.series_img_lrg {
  float: left;
  height: 240px;
  width: 300px;
}
#loading {
  z-index: 101;
}
#header {
  background: #FFFFFF;
  display: block;
  position: fixed;
  top: 0;
  margin: auto;
  border-top: solid 3px #393;
  width: 100%;
  z-index: 100;
}
#logo {
  height: 65px;
  width: 100%;
  position: absolute;
  left: 20px;
}
#logo a {
  text-decoration: none;
  color: #FFFFFF;
}
#logo h1 {
  top: 5px;
  font-size: 2em;
  color: #000000;
  text-shadow: 0 4px 4px #000000;
  bottom: 5px;
}
.tabcontent {
  display: none;
}
ul.tabmenu {
  list-style-type: none;
  margin-top: 60px;
  padding: 0;
  overflow: hidden;
  border: none;
  background-color: #000000;
}
ul.tabmenu li {
  float: left;
  background-color: #000000;
}
ul.tabmenu li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 5px 40px 5px 25px;
  text-decoration: none;
  transition: 0.1s;
  font-size: 1em;
  border-bottom: solid 4px #000000;
}
ul.tabmenu li a:hover {
  background-color: #393;
}
ul.tabmenu li a:focus,
a.active {
  border-bottom: solid 4px #393;
  background-color: #000000;
}
a.search_page {
  background-image: url("search.png");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.recordings_page {
  background-image: url("recordings.png");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.rules_page {
  background-image: url("rules.png");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.series_page {
  background-image: url("home.png");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.upcoming_page {
  background-image: url("upcoming.png");
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: left center;
}
li.settings_page {
  position: absolute;
  right: 0;
}
a.settings_page {
  text-color: #000000;
  padding: 5px 5px 5px 5px;
  background-image: url("gear.png");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center center;
}
#start_page {
  position: relative;
  padding: 0;
  width: 100%;
  border: none;
  display: hidden;
  background-color: #FFFFFF;
  margin-top: 95px;
}
#start_content {
  width: 100%;
}
#settings_page {
  position: relative;
  padding: 0;
  width: 100%;
  border: none;
  display: hidden;
  background-color: #FFFFFF;
  margin-top: 95px;
}
#settings_content {
  width: 100%;
}
#settings_box {
  width: 100%;
}
#hdhr_img {
  display: block;
  margin: 0 auto;
  width: 176px;
}
#hdhr_img_cnt {
  vertical-align: middle;
  display: table-cell;
}
#hdhr_img_flt {
  float: left;
  background-color: #FFFFFF;
  width: 180px;
  height: 130px;
  margin: 0 10px 0 0;
  display: table;
}
#hdhr_entry {
  border-top: solid 1px #393;
  background: #DDDDDD;
  height: 130px;
}
.hdhr_entry h4 {
  color: #000000;
  font-size: 1.25em;
}
.hdhr_entry p {
  font-style: italic;
  color: #000000;
  font-size: 1em;
}
#rules_page {
  position: relative;
  padding: 0;
  width: 100%;
  border: none;
  display: hidden;
  background-color: #FFFFFF;
  margin-top: 95px;
}
#rules_content {
  width: 100%;
}
#rules_box {
  width: 100%;
}
#rules_info {
  width: 100%;
}
#rules_list_box {
  width: 100%;
}
.rule_entry {
  border-top: solid 2px #393;
  background: #DDDDDD;
  height: 132px;
  position: relative;
}
.rule_entry h4 {
  color: #000000;
  font-size: 1em;
}
.rule_entry p {
  font-style: italic;
  color: #000000;
  font-size: 0.75em;
}
#series_page {
  position: relative;
  padding: 0;
  width: 100%;
  border: none;
  display: hidden;
  background-color: #FFFFFF;
  margin-top: 95px;
}
#series_content {
  width: 100%;
}
#series_box {
  width: 100%;
}
#series_info {
  width: 100%;
}
#series_list_box {
  width: 100%;
}
.series_entry {
  width: 300px;
  height: 254px;
  border: solid 2px #393;
  background: #DDDDDD;
  margin: 10px;
  display: inline-block;
  font-size: 0.75em;
}
#recordings_page {
  position: relative;
  padding: 0;
  width: 100%;
  border: none;
  display: hidden;
  background-color: #FFFFFF;
  margin-top: 95px;
}
#recordings_content {
  width: 100%;
}
#recordings_box {
  width: 100%;
}
#recordings_info {
  width: 100%;
}
#recordings_list_box {
  width: 100%;
}
.recording_entry {
  border-top: solid 2px #393;
  background: #DDDDDD;
  height: 132px;
  position: relative;
}
.recording_entry h4 {
  color: #000000;
  font-size: 1em;
}
.recording_entry p {
  font-style: italic;
  color: #000000;
  font-size: 0.75em;
}
ul.sortby {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  border: none;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 1px 1px 1px 1px;
  font-size: 0.70em;
  align: right;
}
ul.sortby li {
  float: left;
  margin: 0px 5px;
}
ul.sortby li a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: 0.1s;
  border: none;
  font-size: 10px;
  border-radius: 2px 2px 2px 2px;
  background-color: #393;
  padding: 2px 2px;
  font-style: normal;
  font-weight: normal;
}
#upcoming_page {
  position: relative;
  padding: 0;
  width: 100%;
  border: none;
  display: hidden;
  background-color: #FFFFFF;
  margin-top: 95px;
}
#upcoming_content {
  width: 100%;
}
#upcoming_box {
  width: 100%;
}
#upcoming_info {
  width: 100%;
}
#upcoming_list_box {
  width: 100%;
}
.upcoming_entry {
  border-top: solid 2px #393;
  background: #DDDDDD;
  height: 132px;
  position: relative;
}
.upcoming_entry h4 {
  color: #000000;
  font-size: 1em;
}
.upcoming_entry p {
  font-style: italic;
  color: #000000;
  font-size: 0.75em;
}
#search_page {
  position: relative;
  padding: 0;
  width: 100%;
  border: none;
  display: hidden;
  background-color: #FFFFFF;
  margin-top: 95px;
}
#search_content {
  width: 100%;
}
#search_prompt {
  padding: 10px 10px 10px 10px;
}
#search_box {
  width: 100%;
}
#search_list_box {
  width: 100%;
}
.search_entry {
  border-top: solid 2px #393;
  background: #DDDDDD;
  height: 132px;
  position: relative;
  overflow-y: auto;
}
.search_entry h4 {
  color: #000000;
  font-size: 1em;
}
.search_entry p {
  font-style: italic;
  color: #000000;
  font-size: 0.75em;
}
.edit_form ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0px;
  padding: 0px;
}
.edit_form li {
  padding: 0px;
  position: relative;
}
.edit_form label {
  width: 200px;
  height: 30px;
  display: inline-block;
  text-align: right;
  font-size: 1em;
  padding: 5px;
}
.edit_form input {
  padding: 0px;
}
.actions {
  text-align: right;
  margin: 1px;
  position: absolute;
  top: 2px;
  right: 0px;
}
.inlinerules {
  text-align: right;
  margin-right: 30px;
  margin-bottom: 2px;
}
.inlinerulestiny {
  text-align: right;
  margin: 0;
  padding: 0;
  font-style: normal;
}
.play,
.record,
.delete,
.upcoming,
.settings,
.RecCountButton,
.RuleCountButton,
.UpcomingCountButton {
  display: inline-block;
  color: white;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
  background-color: #393;
  padding: 1px 1px;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}
.delete {
  background-color: #FF0000;
}
.upcoming {
  background-color: #0000FF;
}
.settings {
  position: relative;
  font-size: 16px;
  margin: 5px;
  z-index: 99;
  padding: 5px;
}
.RecCountButton {
  position: relative;
  font-size: 14px;
  top: -30px;
  margin: 5px;
  z-index: 99;
  padding: 3px;
}
.RuleCountButton {
  background-color: #FF0000;
  float: right;
  position: relative;
  font-size: 14px;
  margin: 5px;
  top: -30px;
  z-index: 99;
  padding: 3px;
}
.UpcomingCountButton {
  background-color: #0000FF;
  float: right;
  position: relative;
  font-size: 14px;
  margin: 5px;
  top: -30px;
  z-index: 99;
  padding: 3px;
}
#AuthReveal {
  color: white;
  background-color: orange;
}
.revealModal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: #000000;
  background-color: rgba(0,0,0,0.8);
  padding-top: 15%;
  color: black;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.revealModal-content {
  background-color: #EEE;
  width: 80%;
  min-height: 162px;
  padding: 20px;
  margin: auto;
}
.revealModal-header {
  width: 80%;
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  background-color: #393;
  color: white;
  border: 1px solid #888;
  border-radius: 20px 20px 0 0;
}
.revealModal-header h4 {
  color: white;
}
.revealModal-footer {
  width: 80%;
  padding: 15px 20px;
  margin: auto;
  background-color: #EEE;
  color: black;
  height: 15px;
  border: 1px solid #888;
  border-radius: 0 0 20px 20px;
}
.revealClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.revealClose:hover,
.revealClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
ul.modal_decorator {
  list-style-type: none;
  float: right;
}
ul.modal_decorator li {
  float: left;
  margin: 0px 10px;
}
ul.modal_decorator li p {
  display: inline-block;
  color: white;
  background-color: #008800;
  text-align: center;
  padding: 2px 5px;
  text-decoration: none;
  transition: 0.1s;
  border: none;
}
ul.modal_decorator li a {
  display: inline-block;
  color: white;
  background-color: #008800;
  text-align: center;
  padding: 2px 5px;
  text-decoration: none;
  transition: 0.1s;
  border: none;
}
